SERVER_HOST=0.0.0.0
SERVER_PORT=8000

DB_HOST=database
DB_PORT=5432
DB_NAME=scrapper
DB_USER=postgres
DB_PASSWORD=your-db-password-here

API_URL=https://www.deribit.com/api/v2/public/
EXTERNAL_API_TIMEOUT_SECONDS=5.0
SUPPORTED_TICKERS=["btc_usd","eth_usd"]

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your-redis-password-here